* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
}

/*! Section and Scroll Animations */

.section-one {
  max-height: 100vh;
  position: relative;
  background-color: #ddfff7;
}

.section-one::before {
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url(/images/Main-Portfolio-Image.png);
  background-size: contain, cover;
  background-repeat: no-repeat;
  background-position: bottom right;
  position: absolute;
  opacity: 0.9;
}

/* These anitmations bring in the content smooth transition
when the page first opens */

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* This is for the scroller to direct to the Projects section */

.scroll-down {
  z-index: 99999;
  height: 50px;
  width: 30px;
  border: 3px solid #46bea3;
  position: absolute;
  left: 50%;
  bottom: 5%;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 5%;
}

.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  border: 4px solid #302e9a;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scrolldown 1s ease-in-out infinite;
  z-index: 99999;
}

.scroll-down::after {
  top: 30%;
  animation-delay: 0.3s;
}

@keyframes scrolldown {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    top: 90%;
  }
}
/* ! Navbar Styles */
.logo {
  width: 7%;
}

.mobile-list li a img {
  width: 10%;
}

.navbar {
  padding: 10px 20px;
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #ddfff7;
}

.navbar ul {
  flex: 1;
  text-align: right;
}

.navbar ul li {
  display: inline-block;
  margin: 5px;
}

li a {
  font-size: 1.7rem;
  color: black;
  font-weight: 300;
  padding: 0.5rem;
  display: block;
}

li a::after {
  content: "";
  height: 2px;
  width: 0%;
  background-color: #302e9a;
  display: block;
  transition: 0.5s ease-in-out;
}

li a:hover::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #302e9a;
  display: block;
  transition: 0.5s ease-in-out;
}

.mobile-list {
  display: none;
}

/*! Title Styles */
.greet {
  font-size: 3.5vw;
  padding-left: 0.4em;
  color: #302e9a;
}

.heading {
  /* position: relative; */
  font-weight: 400;
  font-size: 7vw;
  padding-left: 0;
}

.subtitle {
  /* position: relative; */
  /* margin: 1em 0 0 0; */
  font-weight: 300;
  color: #302e9a;
  font-size: 4.5vw;
  padding-left: 0.2em;
  padding-bottom: 0.5em;
}

.titles {
  display: flex;
  flex-direction: column;
  padding: 4em 0 0 2em;
}

/*! About Me Styles */
#section-two {
  margin: 0;
  padding: 0;
  display: grid;
  text-align: center;
  background-color: #302e9a;
  color: white;
}

.scroll-down-two {
  z-index: 99999;
  height: 50px;
  width: 30px;
  border: 3px solid #46bea3;
  position: absolute;
  left: 50%;
  bottom: 5%;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 1.5%;
}

.scroll-down-two::before,
.scroll-down-two::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  border: 4px solid #93e1d8;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scrolldown 1s ease-in-out infinite;
  z-index: 99999;
}

.scroll-down-two::after {
  top: 30%;
  animation-delay: 0.3s;
}

/* .about {
  grid-area: about;
  margin: 0 10em;
  font-size: 1.5em;
  font-weight: 400;
  z-index: 9999;
  border-radius: 5px;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.about p span {
  font-size: 2rem;
  color: #302e9a;
}

.about::before {
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url(/images/Main-Portfolio-Image.png);
  background-size: contain, cover;
  background-repeat: no-repeat;
  background-position: bottom right;
  z-index: -999;
  position: absolute;
  opacity: 0.25;
} */

.about-text {
  font-size: 1.5vw;
  /* padding: 0.5em; */
  /* text-align: center; */
}

.about-title {
  grid-area: about-title;
  text-decoration-line: underline;
  margin: 0.5em 1em 0em 1em;
  font-size: 4.5vw;
}

.about-one {
  grid-area: one;
  margin: 1em 15em;
  font-size: 1.5vw;
}

.about-two {
  grid-area: two;
  margin: 1em 15em;
  font-size: 1.5vw;
}

.about-three {
  grid-area: three;
  margin: 1em 15em 10em 15em;
  font-size: 1.5vw;
}

.about {
  position: relative;
  font-size: 2vw;
  line-height: 1.8;
  z-index: 99999;
  font-weight: 400;
  padding: 0 15em 0 0;
  margin-left: 1.5em;
}

.about p span {
  font-size: 1.5vw;
  color: #302e9a;
  font-weight: 900;
  text-decoration-line: underline;
}

.about-icons {
  width: 8em;
  margin: 2em 0 0.5em 0;
}

.about-icon-title {
  font-size: 2vw;
  text-decoration-line: underline;
  color: #93e1d8;
}

.linkedin-img,
.github-img,
.mail-img {
  width: 5vw;
  background-color: #ffcc29;
  border-radius: 50px;
  transition: width 1s, height 1s, transform 1s;
}

.linkedin-img:hover,
.github-img:hover,
.mail-img:hover {
  background-color: white;
  border-radius: 50px;
  width: 6vw;
}

.contact-button .contact-me a {
  color: #93e1d8;
  transition: 0.3s;
}

.contact-button .contact-me a:hover {
  color: #302e9a;
}

.contact-me {
  border: none;
  background-color: #302e9a;
  margin: 2em;
  border-radius: 50px;
  padding: 0.5em 1em;
  font-size: 1.5rem;
  font-weight: 500;
  transition: 0.3s;
}

.contact-me:hover {
  background-color: #93e1d8;
  cursor: pointer;
}

.contact-button {
  display: flex;
  padding: 0 0 10em 0;
}

/*! Projects Styles */
#section-three {
  width: 100%;
  min-height: 100vh;
  background-color: #ddfff7;
}

.project-container {
  display: grid;
  grid-template-areas:
    "projectTitle"
    "project1"
    "project2"
    "project3";
}

.project-title {
  font-size: 7rem;
  color: black;
  text-decoration-line: underline;
  grid-area: projectTitle;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

#project1 {
  grid-area: project1;
  display: flex;
  justify-content: center;
  margin: 5% 20%;
}
#project2 {
  grid-area: project2;
  display: flex;
  justify-content: center;
  margin: 5% 20%;
}
#project3 {
  grid-area: project3;
  display: flex;
  justify-content: center;
  margin: 5% 20%;
}

#section-four {
  background-color: #302e9a;

  padding-bottom: 4.5em;
}

.contact-form {
  display: flex;
  justify-content: center;
}

.form {
  display: grid;
  grid-template-areas: "contact-title" "contact-name" "contact-email" "contact-message" "send-btn";
  background-color: #ddfff7;
  margin: 2em 0;
  padding: 1em 4em;
  border-radius: 10px;
}

.contact-img {
  display: none;
}

.contact-logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
}

.contact-logo img {
  width: 10em;
}

.contact-title {
  grid-area: contact-title;
  text-align: center;
  font-size: 7vw;
  margin: 0.5em 0;
}

.contact-name {
  grid-area: contact-name;
  margin: 0.4em 0.5em;
}

.contact-text {
  grid-area: text;
}

.contact-text p {
  font-size: 1.5rem;
  margin: 1em 1em 0 0;
  color: #302e9a;
}

#name {
  background-color: #ddfff7;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-bottom: 2px solid #302e9a;
  width: 100%;
  padding: 0.5em;
  outline: none;
}

.contact-email {
  grid-area: contact-email;
  margin: 0.4em 0.5em;
}

#email {
  background-color: #ddfff7;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-bottom: 2px solid #302e9a;
  width: 100%;
  padding: 0.5em;
  outline: none;
}

.contact-message {
  grid-area: contact-message;
  margin: 0.4em 0;
}

textarea {
  background-color: #ddfff7;
  border: none #302e9a;
  border-bottom: 2px solid #302e9a;
  padding: 0.5em;
  width: 100%;
  outline: none;
  resize: none;
}

.send {
  grid-area: send-btn;
  margin: 0.2em 0 1em 0;
  display: flex;
  justify-content: center;
}

.send-btn {
  border: none;
  padding: 0.5em 1em;
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 50px;
  width: 100%;
  background-color: #302e9a;
  color: #93e1d8;
  transition: 0.3s;
}

.send-btn:hover {
  color: #302e9a;
  background-color: #46bea3;
  cursor: pointer;
}

.copyright {
  text-align: center;
  font-size: 1.5vw;
  color: white;
}

.contact-icons {
  grid-area: contact-icons;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0 0 0;
  padding-bottom: 0.5em;
}

.linkedin-img,
.github-img {
  background-color: white;
  width: 3.5vw;
  margin: 0.3em 0.5em;
}

.linkedin-img:hover,
.github-img:hover {
  width: 4vw;
  background-color: #46bea3;
}

.contact-image {
  background-color: #ddfff7;
  margin: 2em 0;
  align-items: center;
}

.contact-img img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
/* !DEKSTOP */
@media screen and (max-width: 1500px) {
  .about {
    /* padding-right: 22em; */
  }
}

/* ! DESKTOP  */
@media screen and (max-width: 1200px) {
  .about {
    /* padding-right: 18em; */
  }
}

/*! LAPTOPS */
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .about {
    font-size: 1.3rem;
    padding-bottom: 0;
  }

  .about-one,
  .about-two,
  .about-three {
    margin: 1em 5em 2em 5em;
  }

  .contact-button {
    margin: 2em 0 0 0;
  }
}

/*! TABLET  */
@media screen and (max-width: 768px) {
  .heading {
    font-size: 5rem;
  }

  .about-title {
    font-size: 6rem;
  }

  .subtitle {
    font-size: 3rem;
    margin-bottom: 0.5em;
  }

  .section-one::before {
    display: none;
  }

  .navbar .desktop-list {
    display: none;
  }

  .mobile-list {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999999;
  }

  .mobile-list span {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0.5%;
    background-color: #302e9a;
  }

  .mobile-list span .logo img {
    width: 120%;
    cursor: pointer;
  }

  a .contact-logo:hover,
  a .resume-logo:hover,
  a .project-logo:hover,
  a .about-logo:hover {
    border: solid 2px white;
    border-radius: 50px;
  }

  .titles {
    text-align: center;
  }

  .about {
    grid-area: about;
    margin: 0 3em 1em 3em;
    font-size: 1em;
    font-weight: 400;
    z-index: 9999;
    border-radius: 5px;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .about p span {
    font-size: 1.2rem;
  }

  .about::before {
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url(/images/Main-Portfolio-Image.png);
    background-size: contain, cover;
    background-repeat: no-repeat;
    background-position: bottom right;
    z-index: 999;
    position: absolute;
    opacity: 0.25;
  }

  .about-text {
    padding: 0.5em;
    text-align: center;
  }

  .scroller {
    display: none;
  }

  .scroller-two {
    display: none;
  }

  .contact-button {
    display: flex;
    justify-content: center;
    grid-area: button;
    margin: 3em 0 0 0;
  }

  .about-title {
    font-size: 3.5rem;
  }

  .about-one,
  .about-two,
  .about-three {
    font-size: 1.5rem;
    padding: 0 1em;
    margin: 1em 3em 2em 3em;
  }

  .about-icon-title {
    font-size: 2rem;
  }

  .about-icons {
    width: 7em;
  }

  .form {
    display: grid;
    grid-template-areas: "contact-title" "contact-name" "contact-email" "contact-message" "send-btn";
    background-color: #ddfff7;
  }

  .send {
    justify-content: center;
  }

  .contact-icons {
    justify-content: center;
  }
}

/*! MOBILE  */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .titles {
    padding-bottom: 0;
  }

  .subtitle {
    margin-top: 0.5em;
    font-size: 2.2rem;
  }

  .about {
    margin-top: 0;
  }

  .about-title {
    font-size: 3.5rem;
  }

  .about-icons {
    width: 6.5em;
  }

  .about-icon-title {
    font-size: 2rem;
  }

  .about-one,
  .about-two,
  .about-three {
    margin-left: 1em;
    margin-right: 1em;
  }
}

/* ! TABLET */

/* @media screen and (max-width: 768px) {
  .section-one::before {
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url(/images/Main-Portfolio-Image.png);
    background-size: contain, cover;
    background-repeat: no-repeat;
    background-position: bottom right;
    display: none;
    z-index: 9999;
    position: absolute;
  }

  .titles {
    grid-area: titles;
    text-align: center;
  }

  .heading {
    font-size: 5rem;
  }

  .subtitle {
    font-size: 3rem;
    margin-bottom: 0.5em;
  }

  .about {
    grid-area: about;
    margin: 2em 2em 0 2em;
    font-size: 1em;
    font-weight: 400;
    z-index: 9999;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .about::before {
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url(/images/Main-Portfolio-Image.png);
    background-size: contain, cover;
    background-repeat: no-repeat;
    background-position: bottom right;
    z-index: 999;
    position: absolute;
    opacity: 0.25;
  }

  .about-text {
    padding: 0.5em;
    text-align: center;
  }

  .about-title {
    font-size: 3rem;
  }

  .about {
    grid-area: about;
    margin: 0 3em 1em 3em;
  }

  .about-one,
  .about-two,
  .about-three {
    font-size: 1.2rem;
    padding: 0 1em;
  }

  .contact-button {
    display: flex;
    justify-content: center;
    grid-area: button;
    margin: 1em 0 2em 0;
  }

  .contact-me {
    font-size: 1.5rem;
    padding: 0.5em 1em;
  }

  .nav-branding-white {
    width: 10%;
  }

  .linkedin-img,
  .github-img,
  .mail-img {
    width: 2.5em;
    margin: 0 0.2em;
  }

  .linkedin-img:hover,
  .github-img:hover,
  .mail-img:hover {
    width: 3em;
  }

  .container {
    display: grid;
    grid-template-areas: "titles" "self" "about" "button";
  }

  .navbar .desktop-list {
    display: none;
  }

  .mobile-list {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999999;
  }

  .mobile-list span {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0.5%;
    background-color: #302e9a;
  }

  .mobile-list span .logo img {
    width: 120%;
    cursor: pointer;
  }

  a .contact-logo:hover,
  a .resume-logo:hover,
  a .project-logo:hover,
  a .about-logo:hover {
    border: solid 2px white;
    border-radius: 50px;
  }

  .project-title {
    font-size: 3.5rem;
  }

  #section-four {
    background-color: #302e9a;
    padding-bottom: 4.5em;
  }

  .contact-form {
    display: flex;
    justify-content: center;
  }

  .form {
    display: grid;
    grid-template-areas: "contact-title contact-title" "contact-name contact-email" "contact-subject contact-phone" "contact-message contact-message" "send-btn send-btn" "contact-icons contact-icons";
    background-color: #ddfff7;
    margin: 2em 0;
    padding: 0 5em;

    border-radius: 10px;
  }

  .contact-title {
    grid-area: contact-title;
    text-align: center;
    font-size: 2.5rem;
    margin: 0.5em 0;
  }

  .contact-name {
    grid-area: contact-name;
    margin: 0.4em 0;
  }

  #name {
    background-color: #ddfff7;
    border: solid #302e9a;
    width: 100%;
    border-radius: 20px;
    padding: 0.5em;
  }

  .contact-email {
    grid-area: contact-email;
    margin: 0.4em 0;
  }

  #email {
    background-color: #ddfff7;
    border: solid #302e9a;
    border-radius: 5px;
    width: 100%;
    border-radius: 20px;
    padding: 0.5em;
  }

  .contact-phone {
    grid-area: contact-phone;
    margin: 0.4em 0;
  }

  #phone {
    background-color: #ddfff7;
    border: solid #302e9a;
    border-radius: 5px;
    width: 100%;
    border-radius: 20px;
    padding: 0.5em;
  }

  .contact-subject {
    grid-area: contact-subject;
    margin: 0.4em 0;
  }

  #subject {
    background-color: #ddfff7;
    border: solid #302e9a;
    border-radius: 5px;
    width: 100%;
    border-radius: 20px;
    padding: 0.5em;
  }

  .contact-message {
    grid-area: contact-message;
    margin: 0.4em 0;
  }

  textarea {
    background-color: #ddfff7;
    border: solid #302e9a;
    border-radius: 5px;
    border-radius: 15px;
    padding: 0.5em;
    width: 100%;
  }

  .send {
    grid-area: send-btn;
    margin: 0.2em 0 1em 0;
    display: flex;
    justify-content: center;
  }

  .send-btn {
    padding: 0.5em 1em;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 10px;
    background-color: #302e9a;
    color: #93e1d8;
  }

  .send-btn:hover {
    box-shadow: 3px 3px white;
    transform: translate(-3px, -3px);
    cursor: pointer;
  }

  .contact-icons {
    grid-area: contact-icons;
    display: flex;
    justify-content: center;
    padding-bottom: 0.5em;
  }

  .linkedin-img,
  .github-img {
    background-color: white;
    width: 2em;
    margin: 0.3em 0;
  }

  .linkedin-img:hover,
  .github-img:hover {
    width: 2.5em;
    background-color: #302e9a;
  }

  .linkedin-img {
    margin: 0 0.5em;
  }

  .github-img {
    margin: 0 0.5em;
  }

  .contact-img {
    display: none;
  }

  .copyright {
    text-align: center;
    font-size: 1rem;
    color: white;
  }

  .scroller {
    display: none;
  }
} */

/* .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: #ffcc29;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: #ffcc29;
  }

  .nav-menu {
    position: fixed;
    top: -100%;
    left: 65%;
    gap: 0;
    z-index: 9999;
    flex-direction: column;
    color: white;
    width: 100%;
    transition: 0.3s;
    border: 2px solid #00af91;
    border-radius: 10px;
    background-color: #00af91;
  }

  li a::after {
    content: "";
    height: 2px;
    width: 0%;
    background-color: #00af91;
    display: block;
    transition: 0.5s ease-in-out;
  }

  li a:hover::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: #00af91;
    display: block;
    transition: 0.5s ease-in-out;
  }

  li a {
    color: #fff;
    margin-left: 0.1em;
    font-size: 2.5rem;
  }

  li a:hover {
    color: #ffcc29;
    text-decoration-line: underline;
    text-decoration-color: #ffcc29;
  }

  ul li:hover {
    color: #ffcc29;
    width: 100%;
  }

  .nav-menu.active {
    top: 8%;
    left: 65%;
    height: 40%;
  } */

/* ! MOBILE  */

/* @media screen and (min-width: 320px) and (max-width: 480px) {
  .container {
    display: grid;
    grid-template-areas: "titles titles" "about about" "button button";
  }

  .logo {
    width: 12%;
  }

  .navbar {
    padding: 1%;
  }

  .about {
    grid-area: about;
    margin: 2em 2em 0 2em;
    font-size: 1em;
    font-weight: 400;
    z-index: 9999;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .about::before {
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url(/images/Main-Portfolio-Image.png);
    background-size: contain, cover;
    background-repeat: no-repeat;
    background-position: bottom right;
    z-index: 999;
    position: absolute;
    opacity: 0.25;
  }

  .about-text {
    padding: 0.5em;
    text-align: center;
  }

  #section-two {
    grid-template-areas: "about-title" "one" "two" "three";
  }

  .about-title {
    font-size: 3rem;
  }

  .about-one,
  .about-two,
  .about-three {
    font-size: 1.3rem;
    padding: 0 1px;
  }

  .heading {
    text-align: center;
    font-size: 5rem;
    margin: 0.3em 0 0.5em 0;
    line-height: 120%;
  }

  .subtitle {
    font-size: 2.3rem;
    text-align: center;
    color: #302e9a;
  }

  .titles {
    grid-area: titles;
  }

  .self {
    grid-area: self;
  }

  .self-image {
    width: 100%;
  }

  .contact-me {
    font-size: 1.5rem;
    padding: 0.5em 1em;
  }

  .contact-button {
    grid-area: button;
    display: flex;
    justify-content: center;
    margin: 2em;
  }

  .scroller {
    display: none;
  }

  .project-title {
    font-size: 3rem;
  }

  #section-four {
    background-color: #302e9a;
    padding-bottom: 4.5em;
  }

  .contact-form {
    display: flex;
    justify-content: center;
  }

  .form {
    display: grid;
    grid-template-areas: "contact-title" "contact-name" "contact-email" "contact-phone" "contact-subject" "contact-message" "send-btn" "contact-icons";
    background-color: #ddfff7;
    margin: 2em 0;
    padding: 0 2em;
    border-radius: 10px;
  }

  .contact-title {
    grid-area: contact-title;
    text-align: center;
    font-size: 2.5rem;
    margin: 0.5em 0;
  }

  .contact-name {
    grid-area: contact-name;
    margin: 0.4em 0;
  }

  #name {
    background-color: #ddfff7;
    border: solid #302e9a;
    width: 100%;
    border-radius: 20px;
    padding: 0.5em;
  }

  .contact-email {
    grid-area: contact-email;
    margin: 0.4em 0;
  }

  #email {
    background-color: #ddfff7;
    border: solid #302e9a;
    border-radius: 5px;
    width: 100%;
    border-radius: 20px;
    padding: 0.5em;
  }

  .contact-phone {
    grid-area: contact-phone;
    margin: 0.4em 0;
  }

  #phone {
    background-color: #ddfff7;
    border: solid #302e9a;
    border-radius: 5px;
    width: 100%;
    border-radius: 20px;
    padding: 0.5em;
  }

  .contact-subject {
    grid-area: contact-subject;
    margin: 0.4em 0;
  }

  #subject {
    background-color: #ddfff7;
    border: solid #302e9a;
    border-radius: 5px;
    width: 100%;
    border-radius: 20px;
    padding: 0.5em;
  }

  .contact-message {
    grid-area: contact-message;
    margin: 0.4em 0;
  }

  textarea {
    background-color: #ddfff7;
    border: solid #302e9a;
    border-radius: 5px;
    border-radius: 15px;
    padding: 0.5em;
  }

  .send {
    grid-area: send-btn;
    margin: 0.2em 0 1em 0;
    display: flex;
    justify-content: center;
  }

  .send-btn {
    padding: 0.5em 1em;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 10px;
    background-color: #302e9a;
    color: #ddfff7;
  }

  .send-btn:hover {
    box-shadow: 3px 3px white;
    transform: translate(-3px, -3px);
    cursor: pointer;
  }

  .contact-icons {
    grid-area: contact-icons;
    display: flex;
    justify-content: center;
    padding-bottom: 0.5em;
  }

  .linkedin-img,
  .github-img {
    background-color: white;
    width: 2em;
    margin: 0.3em 0;
  }

  .linkedin-img:hover,
  .github-img:hover {
    width: 2.5em;
    background-color: #302e9a;
  }

  .linkedin-img {
    margin: 0 0.5em;
  }

  .github-img {
    margin: 0 0.5em;
  }

  .copyright {
    text-align: center;
    font-size: 1rem;
    color: white;
  }
} */
